<div class="container mt-10">
  <h3> Players </h3>

  

  <div>
    <p>
      <a class="btn btn-info" (click)="add()"> Add Computer</a>
    </p>
  </div>

  <div class="row">
    <div class="column" style="width: 50%;">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players">
              <td>{{ player.playerName }}</td>
              <td *ngIf="player.appUserId == 2">
                <a (click)="delete(player.playerId)" class="btn btn-info"> Delete </a>
              </td>
              <td *ngIf="player.appUserId != 2">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="column" style="width: 50%;">
      <img src="../../assets/noBackgroundCover.png" width="100%" height="400px" />
    </div>
  </div>

  <div>
    <p>
      <a (click)="setUpGame()" class="btn btn-success mt-3"> Start Game </a>
    </p>
  </div>

</div>
