
<div class="column" style="width: 30%;">
    <h2 style="text-align: center"> Current Players in Room </h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Player Name</th>
          <th scope="col">Dead?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players">
          <td >{{ player.playerName }}</td>
          <td>{{ player.dead}} </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
  <form [formGroup]="VotingPlayerOut" (ngSubmit)="onSubmit()">
    <select formControlName="playerId">
      <ng-container  *ngFor="let player of players">
        <option  *ngIf="player.dead == false" [ngValue]="player.playerId">{{ player?.playerName }}</option>
      </ng-container>
      </select>
    <button class="btn btn-info">Vote</button>
  </form>

  </div>

